@use '../../scss' as *;
.modal__addroom {
    &-row {
    }
    &-title {
        font-size: 20px;
    }
    &-input {
        height: 40px;
        width: 100%;
        border: 1px solid $shadow-color;
        padding: 5px;
        font-size: 18px;
        outline: none;
        margin-top: 5px;
    }
    &-textarea {
        height: 100px;
        width: 100%;
        padding: 5px;
        font-size: 18px;
        outline: none;
        margin-top: 5px;
    }
}
.modal__addroom-row + .modal__addroom-row {
    margin-top: 20px;
}
